.newsletter{
    background: var(--card-bg);   /* changed */
}

.newsletter__img img {
  width: 100%;
}

.newsletter__content {
  padding: 50px 0;
}

.newsletter__content h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: var(--heading-color);
}

.newsletter__input{
    background: var(--card-bg);   /* was white */
    border: 1px solid var(--text-color);
}

.newsletter__input input {
  border: none;
  font-size: 1rem;
  color: var(--heading-color);
  background: transparent;
}

.newsletter__input input:focus {
  outline: none;
}

.newsletter__btn {
  padding: 0.5rem 1.5rem !important;
  background: var(--secondary-color) !important;
  color: #fff !important;
  font-size: 1.1rem !important;
}

.newsletter__content p{
    color: var(--text-color);
}