/* src/components/Header/header.css */

.header {
  width: 100%;
  height: 80px;
  line-height: 80px;
  background: var(--bg-color);
}

.logo img {
  width: 30%;
}

.menu {
  margin-bottom: 0;
}

.nav__item a {
  text-decoration: none;
  color: var(--heading-color);
  font-weight: 500;
  font-size: 1.1rem;
}

.nav__item a.active__link {
  color: var(--secondary-color);
}

/* this class name should match JSX: mobile__menu */
.mobile__menu {
  font-size: 1.3rem;
  color: var(--heading-color);
  display: none;
}

.sticky__header {
  width: 100%;
  height: 80px;
  line-height: 80px;
  background: var(--bg-color);
  position: sticky;
  top: 0;
  left: 0;
  box-shadow: 0 4px 18px rgba(15, 23, 42, 0.35);
  z-index: 999;
}
